<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head Start -->
<th:block th:replace="~{/xdm/v1/infra/include/head :: head}"></th:block>
<!-- Head End -->

<body>

	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Sidebar wrapper start -->
		<th:block th:replace="~{/xdm/v1/infra/include/nav :: nav}"></th:block>
		<!-- Sidebar wrapper end -->

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>



				<!-- Header actions container start -->
				<th:block th:replace="~{/xdm/v1/infra/include/header :: header}"></th:block>
				<!-- Header actions container end -->

			</div>
			<!-- Page header ends -->
			<!-- Breadcrumb start -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><i class="bi bi-house"></i> <a
					href="index.html">Page 1</a></li>
				<li class="breadcrumb-item">Page 2</li>
				<li class="breadcrumb-item breadcrumb-active" aria-current="page">Default</li>
			</ol>
			<!-- Breadcrumb end -->
			<h3>코드 수정</h3>
			  <section class="section">
      <div class="row">
        <div class="col">
          <div class="card card-1 " >
            <div class="card-body border">
              <h5 class="card-title">기본정보</h5>
        <form name="form" class="row g-3" method="post" action="/xdm/v1/infra/code/codeXdmUpdt">
          <div class="row g-2">
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="code" class="form-label mb-0">코드 번호 <font color="red"><strong>*</strong></font></label>
                  <input type="text" class="form-control" id="cdSeq" name="cdSeq" th:value="${item?.cdSeq}" placeholder="자동생성" style="background-color:#E9ECEF;" readonly>
                </div>
                 <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label mb-0">코드그룹 번호 <font color="red"><strong>*</strong></font></label>
                    <select class="form-select" name="codeGroup_cgSeq" id="codeGroup_cgSeq"
                    	style="padding: .375rem .75rem;">
                                <option value="">코드 그룹 번호</option>
                                <option th:each="list:${listCodeGroup}"
                                        th:value="${list.cgSeq}" th:text="${list.cgName}"
                                        th:selected="${list.cgSeq == item?.codeGroup_cgSeq}">
                                </option>
                              </select>
                   		</div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="calidationCustom01" class="form-label mb-0">코드 이름</label>
                  <input type="text" class="form-control"  name="cdName" th:value="${item?.cdName}" placeholder="코드그룹 이름" >
                  
                </div>
              
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label mb-0">사용여부 <font color="red"><strong>*</strong></font></label>
                    <select class="form-select" id="cdUseNy" name="cdUseNy" required>
                                <option selected disabled>사용여부</option>
                                <option value="1" th:selected="${item?.cdUseNy == 1}">Y</option>
                                <option value="0" th:selected="${item?.cdUseNy == 0}">N</option>
                              </select>
                  </div>
                  </div>
                  <div class="row g-2">
                  <div class="col-sm-12 col-md-6 col-lg-3">
                    <label for="validationCustom01" class="form-label mb-0">순서<font color="red"><strong>*</strong></font></label>
                     <select class="form-select" id="cdOrder" name="cdOrder" required>
                                <option selected disable value="">순서</option>
                                <option value="1" th:selected="${item?.cdOrder == 1}">1</option>
                                <option value="2" th:selected="${item?.cdOrder == 2}">2</option>
                                <option value="3" th:selected="${item?.cdOrder == 3}">3</option>
                                <option value="4" th:selected="${item?.cdOrder == 4}">4</option>
                                <option value="5" th:selected="${item?.cdOrder == 5}">5</option>
                                <option value="6" th:selected="${item?.cdOrder == 6}">6</option>
                        </select>
                        <div class="invalid-feedback">순서를 선택해주세요</div>
                  </div>
                
                  </div>
                  <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <label  class="form-label mb-0">설명</label>
                      <textarea class="form-control" name="cdDesc" id="cdDesc" th:text="${item?.cdDesc}" rows="3"></textarea>
                    </div>
                    </div>
                  <div class="row g-2"> 
                   <div class="col-sm-12 col-md-6 col-lg-3">삭제여부
                    <label for="validationCustom01" class="form-label mb-0"></label>
                    <select class="form-select" name="cdDelNy" id="cdDelNy" disabled>
                                <option value="1" th:selected="${item?.cdDelNy == 1}">Y</option>
                                <option value="0" th:selected="${item?.cdDelNy == 0}">N</option>
                              </select>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3">
                  <label class="form-label mb-0">등록날짜</label>
                  <input type="datetime" class="form-control" name="cdDateTimeReg" id="cdDateTimeReg"
                  		th:value="${#dates.format(item?.cdDateTimeReg, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label class="form-label mb-0">수정날짜</label>
                  <input type="datetime" class="form-control" name="cdDateTimeEdit" id="cdDateTimeEdit" 
                  		th:value="${#dates.format(item?.cdDateTimeEdit, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                </div>
                </div>
                    
						 <div class="row g-2">
						  <div class="col">
						    <a href="/xdm/v1/infra/code/codeXdmList" class="btn btn-outline-dark" id="btnList">
						      <i class="bi bi-list-ul"></i>
						    </a>
						    <!--  DELETE  -->
						  <button type="button" class="btn btn-danger" id="btnDelete">
						  	<i class="bi bi-x-lg icon_color_change"></i>
						  </button>
						   <!--  UELETE  -->
						  <button type="button" class="btn btn-danger" id="btnUelete"
						  	data-bs-toggle="modal" data-bs-target="#varticalycentered">
						  	<i class="bi bi-trash-fill icon_color_change"></i>
						  </button>
						  </div>
						  <div class="col d-flex justify-content-end">
						    <button type="submit" class="btn btn-primary">
						      <i class="bi bi-server"></i>
						  </button>
						    </div>
						  </div>
				 	</form>
						<!-- Row end -->
					</div>
				</div>
				<!-- Card end -->
			</div>
		</div>
		<!-- Row end -->
	</div>
	<!-- Content wrapper end -->

	<!-- App Footer start -->
	<div class="app-footer">
		<span>© Bootstrap Gallery 2023</span>
	</div>
	<!-- App footer end -->

	</div>
	<!-- Content wrapper scroll end -->

	</div>
	<!-- *************
				************ Main container end *************
			************* -->

	</div>
	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="/xdm/v1/template/vivo/assets/js/jquery.min.js"></script>
	<script src="/xdm/v1/template/vivo/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/xdm/v1/template/vivo/assets/js/modernizr.js"></script>
	<script src="/xdm/v1/template/vivo/assets/js/moment.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script
		src="/xdm/v1/template/vivo/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script
		src="/xdm/v1/template/vivo/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- Main Js Required -->
	<script src="/xdm/v1/template/vivo/assets/js/main.js"></script>

<!-- 	by developers -->
 <script>
  
//uelete
 document.getElementById("btnUelete").onclick = function() {
     console.log("UELETE 버튼 클릭됨"); // 수정됨: 콘솔 로그 추가
     alert("UELETE 확인");
     let form = document.querySelector("form[name=form]");
     form.action = "/xdm/v1/infra/code/codeXdmUelete";
     form.submit();
 }

 // delete
 document.getElementById("btnDelete").onclick = function() {
     console.log("DELETE 버튼 클릭됨"); // 수정됨: 콘솔 로그 추가
     alert("DELETE 확인");
     let form = document.querySelector("form[name=form]");
     form.action = "/xdm/v1/infra/code/codeXdmDelete";
     form.submit();
 }
  </script>
  <!-- logout Start -->
	<script>
			document.getElementById("btnLogout").onclick = function(){
				$.ajax({
					async: true 
					,cache: false
					,type: "post"
					,url: "/signoutXdmProc"
					,success: function(response) {
								location.href = "/xdm/v1/infra/index/signinXdmView";
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			}
	</script>
	<!-- logout End -->
</body>

</html>