<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head Start -->
<th:block th:replace="~{/xdm/v1/infra/include/head :: head}"></th:block>
<!-- Head End -->

<body>

	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Sidebar wrapper start -->
		<th:block th:replace="~{/xdm/v1/infra/include/nav :: nav}"></th:block>
		<!-- Sidebar wrapper end -->

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>



				<!-- Header actions container start -->
				<th:block th:replace="~{/xdm/v1/infra/include/header :: header}"></th:block>
				<!-- Header actions container end -->

			</div>
			<!-- Page header ends -->
			<!-- Breadcrumb start -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><i class="bi bi-house"></i> <a
					href="index.html">Page 1</a></li>
				<li class="breadcrumb-item">Page 2</li>
				<li class="breadcrumb-item breadcrumb-active" aria-current="page">Default</li>
			</ol>
			<!-- Breadcrumb end -->
			<h3>코드그룹 등록</h3>
			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">

					<!-- Row start -->
					<div class="row mb-3">
						<div class="col-sm-12 col-12">


							<!-- Card start -->
							<div class="card">
								<div class="card-header">
									<div class="card-title">기본정보</div>
								</div>
								<form class="needs-validation" novalidate id="form" name="form"
									method="post" action="/xdm/v1/infra/codegroup/codeGroupXdmInst">
									<div class="card-body">
										<div class="container-fluid">
											<div class="row mb-3">
												<div class="col-md-3">
													<label for="code" class="form-label mb-2">코드Seq <font
														color="red"><strong>*</strong></font>
													</label> <input type="text" class="form-control" id="cgSeq"
														name="cgSeq" placeholder="자동생성"
														style="background-color: lightgray;" disabled>
												</div>
												<div class="col-md-3">
													<label for="cgName" class="form-label">이름<span
														style="color: red;">*</span></label> <input type="text"
														class="form-control" id="cgName" name="cgName"
														th:value="${item?.cgName}" autocomplete="off" required>
												 <div class="invalid-feedback">이름을 입력해 주세요</div>
												 </div>
												<div class="col-md-3">
													<label for="cgDelNy" class="form-label">순서<span
														style="color: red;">*</span></label> <select class="form-select "
														id="cgOrder" name="cgOrder" required>
														<option value="">순서</option>
														<option value="1" th:selected="${item?.cgOrder == 1}">1</option>
														<option value="2" th:selected="${item?.cgOrder == 2}">2</option>
														<option value="2" th:selected="${item?.cgOrder == 3}">3</option>
														<option value="2" th:selected="${item?.cgOrder == 4}">4</option>
														<option value="2" th:selected="${item?.cgOrder == 5}">5</option>
													</select>
												 <div class="invalid-feedback">순서를 선택해 주세요</div>
												 </div>
											<div class="col-md-3">
													<label for="cgUseNy" class="form-label">사용여부<span
														style="color: red;">*</span></label> <select class="form-select"
														id="cgUseNy" name="cgUseNy" required>
														<option value="">선택</option>
														<option value="0" th:selected="${item?.cgUseNy == 0}">미사용</option>
														<option value="1" th:selected="${item?.cgUseNy == 1}">사용</option>
													</select>
													<div class="invalid-feedback">사용여부를 선택해 주세요</div>
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-md-3">
													<label for="cgDelNy" class="form-label">삭제여부<span
														style="color: red;">*</span></label> <select class="form-select"
														id="cgDelNy" name="cgDelNy" required>
														<option value="">선택</option>
														<option value="0" th:selected="${item?.cgDelNy == 0}">N</option>
														<option value="1" th:selected="${item?.cgDelNy == 1}">Y</option>
													</select>
													<div class="invalid-feedback">삭제여부를 선택해 주세요</div>
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-md-6">
													<label for="cgDesc" class="form-label">설명</label>
													<textarea class="form-control" id="cgDesc" name="cgDesc"
														th:value="${item?.cgDesc}" rows="5" autocomplete="off" ></textarea>
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-md-3">
													<label class="form-label mb-0">등록날짜</label> <input
														type="datetime" class="form-control" name="cgDateTimeReg"
														th:value="${#dates.format(item?.cgDateTimeReg, 'yyyy-MM-dd HH:mm:ss')}"
														disabled>
												</div>
												<div class="col-sm-12 col-md-6 col-lg-3">
													<label class="form-label mb-0">수정날짜</label> <input
														type="datetime" class="form-control" name="cgDateTimeEdit"
														th:value="${#dates.format(item?.cgDateTimeEdit, 'yyyy-MM-dd HH:mm:ss')}"
														disabled>
												</div>
											</div>
										</div>
										 <div class="row g-2">
						  <div class="col">
						    <a href="http://localhost:8080/xdm/v1/infra/codegroup/codeGroupXdmList" class="btn btn-outline-dark">
						      <i class="bi bi-list-ul"></i>
						    </a>
						  </div>
						  <div class="col d-flex justify-content-end">
						   
						    <button type="submit" id="btnSubmit" class="btn btn-primary">
						      <i class="bi bi-server"></i>
						    </button>
						  </div>
						</div>
									</div>
							</div>
						</div>
						</form>
						<!-- Row end -->
					</div>
				</div>
				<!-- Card end -->
			</div>
		</div>
		<!-- Row end -->
	</div>
	<!-- Content wrapper end -->

	<!-- App Footer start -->
	<div class="app-footer">
		<span>© Bootstrap Gallery 2023</span>
	</div>
	<!-- App footer end -->

	</div>
	<!-- Content wrapper scroll end -->

	</div>
	<!-- *************
				************ Main container end *************
			************* -->

	</div>
	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="/xdm/v1/template/vivo/assets/js/jquery.min.js"></script>
	<script src="/xdm/v1/template/vivo/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/xdm/v1/template/vivo/assets/js/modernizr.js"></script>
	<script src="/xdm/v1/template/vivo/assets/js/moment.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script
		src="/xdm/v1/template/vivo/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script
		src="/xdm/v1/template/vivo/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- Main Js Required -->
	<script src="/xdm/v1/template/vivo/assets/js/main.js"></script>

<!-- 	by developers -->
  <script>
  
	// validation
	document.getElementById("btnSubmit").onclick = function () {
	
		//ifcgName
	    var cgName = document.getElementById("cgName");						// 객체를 만들고
	    var cgNameValue = document.getElementById("cgName").value.trim();	// 객체의 값을 받는 객체 생성
		var cgNameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]+$/;
	    var cgNameFeedback = document.getElementById("cgNameFeedback");
	    var cgNameRegExpFeedback = document.getElementById("cgNameRegExpFeedback");
		 	   
	
	// 기존의 validation 초기화
	
		cgName.classList.remove('is-valid', 'is-invalid');
		cgNameFeedback.style.display='none';
		cgNameRegExpFeedback.style.display='none';

		
	   if(cgNameValue =="" || cgNameValue == null){
		   cgNameFeedback.style.display='block';
		   cgName.classList.add('is-invalid');
		   cgName.focus();
		   return false;
	   } else {
		   
	   }
	   if(!cgNameRegExp.test(cgNameValue)){
		   cgNameRegExpFeedback.style.display='block';
		   cgName.classList.add('is-invalid');
		   cgName.focus();
		   return false;
	   } else{
		   //by pass
		   cgName.classList.add('is-valid');
	   }
	
	
	// ifcgUseNy
	var cgUseNy = document.getElementById("cgUseNy");
	var cgUseNyValue = document.getElementById("cgUseNy").value.trim();
	
	if(cgUseNyValue == "" || cgUseNyValue == null){ //선택 안했을 경우
		cgUseNy.classList.add('is-invalid');//유효성 검사 실패 처리 - 빨간테두리
		cgUseNy.focus();
		return false;
	}else{
	//by pass
		cgUseNy.classList.remove('is-invalid');  //빨간테두리 삭제
		cgUseNy.classList.add('is-valid');     //유효성 검사 성공 처리 - 초록테두리
	}
	
	//ifcgOrder
	var cgOrder = document.getElementById("cgOrder");
	var cgOrderValue = document.getElementById("cgOrder").value.trim();
	
	if(cgOrderValue == "" || cgOrderValue == null){ //선택 안했을 경우
		cgOrder.classList.add('is-invalid');//유효성 검사 실패 처리 - 빨간테두리
		cgOrder.focus();
		return false;
	}else{
	//by pass
		cgOrder.classList.remove('is-invalid');  //빨간테두리 삭제
		cgOrder.classList.add('is-valid');     //유효성 검사 성공 처리 - 초록테두리
	}
	
	
		form.action = "/xdm/v1/infra/codegroup/codeGroupXdmInst";
		form.submit();
		
	}

	// validation check
	
var needsValidation = document.querySelectorAll('.needs-validation')

Array.prototype.slice.call(needsValidation)
.forEach(function(form) {
    form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
            event.preventDefault() // 폼 제출 방지
            event.stopPropagation() // 이벤트 전파 방지
        }
        
        form.classList.add('was-validated') // 유효성 검사 클래스 추가
    }, false)
})

  
  </script>

</body>

</html>