<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pathy.infra.applicationCheong.ApplicationCheongDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.pathy.infra.applicationCheong.ApplicationCheongDto" id="resultMapObj"></resultMap>

	<!-- include S -->
	<sql id="selectCommon">
		FROM
			applicationcheong AS a
		LEFT JOIN insproduct AS b ON b.inspSeq = a.insProduct_inspSeq
		LEFT JOIN customer AS c ON c.cmSeq = a.customer_cmSeq
		LEFT JOIN insmember AS d ON d.insmSeq = a.insMember_insmSeq
		WHERE 1 = 1
			<if test="shDelNy != null and !shDelNy.equals('')">AND cheongDelNy = #{shDelNy}</if>
			<if test="shCheongStatus != null and !shCheongStatus.equals('')">AND cheongStatus = #{shCheongStatus}</if>
			<choose>
				<when test="shOption == 1">AND cheongSeq = #{shValue}</when>
				<when test="shOption == 2">AND inspName LIKE CONCAT('%', #{shValue}, '%')</when>
				<when test="shOption == 3">AND cmName LIKE CONCAT('%', #{shValue}, '%')</when>
				<when test="shOption == 4">AND insmName LIKE CONCAT('%', #{shValue}, '%')</when>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND cheongDateTimeReg BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND cheongDateTimeEdit BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	</sql>
	<!-- include E -->
	
	<!-- count S -->
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	<!-- count E -->
	
	<!-- selectList S -->
	<select id="selectList" resultMap="resultMapObj">
	SELECT aa.* FROM(
			SELECT
				a.cheongSeq
				,a.cheongPrice
				,a.cheongPaper
				,a.cheongStatus
				,a.cheongDelNy
				,a.cheongDateTimeReg
				,a.cheongDateTimeEdit
				,a.insProduct_inspSeq
				,a.customer_cmSeq
				,a.insMember_insmSeq
				,b.inspName
    			,c.cmName
    			,d.insmName
			<include refid="selectCommon" />
			ORDER BY
				a.cheongSeq DESC
			) aa
			limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	<!-- selectList E -->
	
	<!-- selectOne S -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.cheongSeq
			,a.cheongPrice
			,a.cheongPaper
			,a.cheongStatus
			,a.cheongDelNy
			,a.cheongDateTimeReg
			,a.cheongDateTimeEdit
			,a.insProduct_inspSeq
			,a.customer_cmSeq
			,a.insMember_insmSeq
			,b.inspName
   			,c.cmName
   			,d.insmName
		FROM
			applicationcheong AS a
		LEFT JOIN insproduct AS b ON b.inspSeq = a.insProduct_inspSeq
		LEFT JOIN customer AS c ON c.cmSeq = a.customer_cmSeq
		LEFT JOIN insmember AS d ON d.insmSeq = a.insMember_insmSeq
		WHERE 1 = 1
			AND a.cheongSeq = #{cheongSeq}
	</select>
	<!-- selectOne E -->
	
	<!-- insert S -->
	<insert id="insert">
		INSERT INTO applicationcheong(
			cheongPrice
			,cheongPaper
			,cheongStatus
			,cheongDelNy
			,cheongDateTimeReg
			,cheongDateTimeEdit
			,insProduct_inspSeq
			,customer_cmSeq
			,insMember_insmSeq
		)
		VALUE(
			#{cheongPrice}
		    ,#{cheongPaper}
		    ,#{cheongStatus}
		    ,0
		    ,now()
		    ,now()
		    ,#{insProduct_inspSeq}
		    ,#{customer_cmSeq}
		    ,#{insMember_insmSeq}
		)
		<selectKey resultType="String" keyProperty="cheongSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- insert E -->
	
	<select id="selectListInsProduct" resultMap="resultMapObj">
		SELECT
			a.inspSeq
			,a.inspName
		FROM
			insproduct AS a
		WHERE 1 = 1
			AND a.inspDelNy = 0
		ORDER BY
			a.inspSeq DESC
	</select>
	
	<select id="selectListInsCustomer" resultMap="resultMapObj">
		SELECT
			a.cmSeq
			,a.cmName
		FROM
			customer AS a
		WHERE 1 = 1
			AND a.cmDelNy = 0
		ORDER BY
			a.cmSeq DESC
	</select>
	
	<select id="selectListInsMember" resultMap="resultMapObj">
		SELECT
			a.insmSeq
			,a.insmName
		FROM
			insmember AS a
		WHERE 1 = 1
			AND a.insmDelNy = 0
		ORDER BY
			a.insmSeq DESC
	</select>
	
	<!-- update S -->
	<update id="update">
		UPDATE applicationcheong
			SET
				cheongPrice = #{cheongPrice}
				,cheongPaper = #{cheongPaper}
				,cheongStatus = #{cheongStatus}
				,cheongDelNy = 0
				,cheongDateTimeReg = now()
				,cheongDateTimeEdit = now()
				,insProduct_inspSeq = #{insProduct_inspSeq}
				,customer_cmSeq = #{customer_cmSeq}
				,insMember_insmSeq = #{insMember_insmSeq}
			WHERE 1 = 1
				AND cheongSeq = #{cheongSeq}
	</update>
	<!-- update E -->
	
	<!-- uelete S -->
	<update id="uelete">
		UPDATE applicationcheong
			SET
				cheongDelNy = 1
			WHERE 1 = 1
				AND cheongSeq = #{cheongSeq}
	</update>
	<!-- uelete E -->
	
	<!-- delete S -->
	<delete id="delete">
		DELETE FROM applicationcheong
			WHERE 1 = 1
			AND cheongSeq = #{cheongSeq}
	</delete>
	<!-- delete E -->
	
	

</mapper>