<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pathy.infra.claim.ClaimDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.pathy.infra.claim.ClaimDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from
			claim c left join customer a on a.cmSeq = c.customer_cmSeq
			left join claimManage b on b.clmSeq = c.claimManage_clmSeq
		where 1 = 1
		<if test="shDelNY != null and !shDelNY.equals('')">And clDelNY = #{shDelNY}</if>
		<if test="shUseNY != null and !shUseNY.equals('')">And clUseNY = #{shUseNY}</if>
		<if test="shType != null and !shType.equals('')">And clType = #{shType}</if>
		<if test="shSituation != null and !shSituation.equals('')">And clSituation = #{shSituation}</if>
		<if test="shmSituation != null and !shmSituation.equals('')">And clmSituation = #{shmSituation}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND c.clDateTimeReg BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND c.clDateTimeEdit BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND clSeq = #{shValue}</when> 
			<when test="shOption == 2">AND clTitle LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND cmSeq = #{shValue}</when>
			<when test="shOption == 4">AND cmName LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
		
	<select id="selectList" resultMap="resultMapObj">
		select cc.* from (
			select
				c.clSeq
				,c.clType
				,c.clTitle
				,c.clDec
				,c.clDateTimeReg
				,c.clDateTimeEdit
				,c.clSituation
				,c.clDateTimeTre
				,c.clDateTimeTreEnd
				,c.clDateTimePay
				,c.clPayOut
				,c.clPayMethod
				,c.clUseNY
				,c.clDelNY
				,c.claimManage_clmSeq
				,c.customer_cmSeq
				,a.cmSeq
				,a.cmName
				,b.clmSeq
				,b.clmSituation
<!-- 				,(select count(b.CodeGroup_seq) from code b where 1 = 1 and b.CodeGroup_seq = a.cgseq) as codeGroupCount -->
		<include refid="selectCommon"></include>
		Order By c.clSeq desc
		) cc
		limit #{rowNumToShow} offset #{startRnumForMysql}
		
	</select>
		
		
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	
	<select id = "selectOne" resultMap="resultMapObj">
		select
			c.clSeq
			,c.clType
			,c.clTitle
			,c.clDec
			,c.clDateTimeReg
			,c.clDateTimeEdit
			,c.clSituation
			,c.clDateTimeTre
			,c.clDateTimeTreEnd
			,c.clDateTimePay
			,c.clPayOut
			,c.clPayMethod
			,c.clUseNY
			,c.clDelNY
			,c.claimManage_clmSeq
			,c.customer_cmSeq
		from
			claim c
		where 1 =1
			and c.clSeq = #{clSeq}		
	</select>
	
	<select id = "selectListCustomer" resultMap = "resultMapObj">
		select
			a.cmSeq
			,a.cmName
		from customer a
		where 1=1
			and a.cmDelNy = 0
	</select>
	
	<select id = "selectListClaimManage" resultMap = "resultMapObj">
		select
			b.clmSeq
			,b.clmSituation
		from claimManage b
		where 1=1
			and b.clmDelNy = 0
	</select>
	
	<insert id = "insert">
		insert into claim(
			clType
			,clTitle
			,clDec
			,clSituation
			,clDateTimeReg
			,clDateTimeEdit
			,clDateTimeTre
			,clDateTimeTreEnd
			,clDateTimePay
			,clPayOut
			,clPayMethod
			,clUseNY
			,clDelNY
			,claimManage_clmSeq
            ,customer_cmSeq
		)values(
    		#{clType}
    		,#{clTitle}
    		,#{clDec}
    		,#{clSituation}
    		,now()
    		,now()
    		,now()
    		,now()
    		,now()
    		,#{clPayOut}
    		,#{clPayMethod}
    		,#{clUseNY}
    		,0
    		,#{claimManage_clmSeq}
    		,#{customer_cmSeq}
		)
		<selectKey resultType="String" keyProperty="cmSeq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
		
		
	<update id="update">
		update claim
		set
			clType = #{clType}
			,clSituation = #{clSituation}
			,clUseNY = #{clUseNY}
		where 1 = 1
			and clSeq = #{clSeq}
	</update>
		
	<delete id="delete">
		delete from claim
		where 1=1
			and clSeq = #{clSeq}
	</delete>
		
	<update id="uelete">
		update claim
		set
			clDelNY = 1
		where 1 = 1
			and clSeq = #{clSeq}
	</update>
	
	
	</mapper>