<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pathy.infra.claimmanage.ClaimManageDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.pathy.infra.claimmanage.ClaimManageDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from
			claimManage b left join insMember a on a.insmSeq = b.insMember_insmSeq
						  left join claim c on c.claimManage_clmSeq = b.clmSeq
						  left join customer f on f.cmSeq = c.customer_cmSeq
		where 1 = 1
		<if test="shDelNY != null and !shDelNY.equals('')">And clmDelNY = #{shDelNY}</if>
		<if test="shUseNY != null and !shUseNY.equals('')">And clmUseNY = #{shUseNY}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND b.clmDateTimeReg BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND b.clmDateTimeEdit BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND clmSeq = #{shValue}</when> 
			<when test="shOption == 2">AND clmName LIKE CONCAT('%',#{shValue},'%') AND insmName = #{shValue}</when>
			<when test="shOption == 3">AND clmOrder = #{shValue}</when>
		</choose>
	</sql>
		
	<select id="selectList" resultMap="resultMapObj">
		select bb.* from (
			select
				b.clmSeq
				,b.clmName
				,b.clmSituation
				,b.clmDateTimeReg
				,b.clmDateTimeEdit
				,b.clmDateTimeAssign
				,b.clmUseNY
				,b.clmDelNY
				,b.insMember_insmSeq
				,a.insmName
				,c.clSeq
				,c.clTitle
				,c.customer_cmSeq
				,f.cmSeq
				,f.cmName
<!-- 				,(select count(b.CodeGroup_seq) from code b where 1 = 1 and b.CodeGroup_seq = a.cgseq) as codeGroupCount -->
		<include refid="selectCommon"></include>
		Order By b.clmSeq desc
		) bb
		limit #{rowNumToShow} offset #{startRnumForMysql}
		
	</select>
		
		
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	
	<select id = "selectOne" resultMap="resultMapObj">
		select
			b.clmSeq
			,b.clmName
			,b.clmSituation
			,b.clmDateTimeReg
			,b.clmDateTimeEdit
			,b.clmDateTimeAssign
			,b.clmUseNY
			,b.clmDelNY
		from
			claimManage b
		where 1 =1
			and b.clmSeq = #{clmSeq}		
	</select>
	
	<insert id = "insert">
		insert into claimManage(
			clmName
			,clmSituation
			,clmDateTimeReg
			,clmDateTimeEdit
			,clmDateTimeAssign
			,clmUseNY
			,clmDelNY
			,insMember_insmSeq
		)values(
    		#{clmName}
    		,#{clmSituation}
    		,now()
    		,now()
    		,now()
    		,#{clmUseNY}
    		,0
    		,#{insMember_insmSeq}
		)
		<selectKey resultType="String" keyProperty="clmSeq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
	
	<select id = "selectListInsMember" resultMap = "resultMapObj">
		select
			a.insmSeq
			,a.insmName
		from insMember a
		where 1=1
			and a.insmDelNy = 0
	</select>
	
	<select id = "selectListCustomer" resultMap = "resultMapObj">
		select
			a.cmSeq
			,a.cmName
		from customer a
		where 1=1
			and a.cmDelNy = 0
	</select>
		
		
	<update id="update">
		update claimManage
		set
			clmName = #{clmName}
			,clmSituation = #{clmSituation}
			,clmUseNY = #{clmUseNY}
			,clmDelNY = #{clmDelNY}
		where 1 = 1
			and clmSeq = #{clmSeq}
	</update>
		
	<delete id="delete">
		delete from claimManage
		where 1=1
			and clmSeq = #{clmSeq}
	</delete>
		
	<update id="uelete">
		update claimManage
		set
			clmDelNY = 1
		where 1 = 1
			and clmSeq = #{clmSeq}
	</update>
	
	
	</mapper>