<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pathy.infra.code.CodeDao"> 

	<resultMap type="com.pathy.infra.code.CodeDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		FROM 
			pathy.code AS b
			JOIN codegroup AS a
				ON a.cgSeq = b.codeGroup_cgSeq
		WHERE 1 = 1
			<if test="shDelNy != null and !shDelNy.equals('')">AND cdDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND cdUseNy = #{shUseNy}</if>
			<choose>
				<when test="shOption == 1">AND cgSeq = #{shValue}</when>
				<when test="shOption == 2">AND cgName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND b.cdDateTimeReg BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND b.cdDateTimeEdit BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>

	</sql>
	<select id="selectOneCount">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	
	</select>
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM(
		SELECT
			b.cdSeq,
			b.cdName,
			b.cdUseNy,
			b.cdOrder,
			b.cdDesc,
		    b.cdDelNy,
		    b.cdDateTimeReg,
		    b.cdDateTimeEdit,
		    b.codeGroup_cgSeq,
		    a.cgName,
		    a.cgSeq
<!-- 		     (SELECT COUNT(cdSeq) FROM pathy.code AS b WHERE b.cdSeq = b.cdSeq) AS xcdSeqCount -->
			<include refid="selectCommon"/>
			ORDER BY
				b.cdSeq DESC
		) aa limit #{rowNumToShow} offset #{startRnumForMysql}	
	</select>
<!-- //code에 codegroup 연결 -->
	<select id="selectListCodeGroup" resultMap="resultMapObj">
		SELECT
			a.cgSeq as codeGroup_cgSeq,
			a.cgName
		FROM
			codegroup a
		WHERE 1 = 1
			AND a.cgDelNy = 0
		ORDER BY
			a.cgOrder DESC			
	</select>	
	
	
<!-- //	데이터 입력(insert) -->
	<insert id="insert">
		INSERT INTO code(
		cdName,
		cdUseNy,
		cdOrder,
		cdDesc,
		cdDelNy,
		cdDateTimeReg,
		cdDateTimeEdit,
		codeGroup_cgSeq
		)VALUES(
		#{cdName},
		#{cdUseNy},
		#{cdOrder},
		#{cdDesc},
		0,
		now(),
		now(),
		#{codeGroup_cgSeq}
		)
<!-- 		<selectKey resultType="String" KeyProperty="ifcdSeq" order="AFTER"> -->
<!-- 			SELECT last_insert_id() -->
<!-- 		</selectKey> -->
	</insert>
	
<!-- //	테이터 한개 출력(select) -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			b.cdSeq,
			b.cdName,
			b.cdUseNy,
			b.cdOrder,
			b.cdDesc,
			b.cdDelNy,
			b.cdDateTimeReg,
			b.cdDateTimeEdit,
			b.codeGroup_cgSeq
		FROM
			pathy.code b
		WHERE 1 = 1
			AND b.cdSeq = #{cdSeq}	
	
	</select>
<!--         //	테이터 수정(update) -->
		<update id="update">
		UPDATE pathy.code
		SET
			cdName = #{cdName},
			cdUseNy = #{cdUseNy},
			cdOrder = #{cdOrder},
			cdDesc = #{cdDesc},
			cdDelNy = 0,
			cdDateTimeEdit = now(),
			codeGroup_cgSeq = #{codeGroup_cgSeq}
		WHERE 1 = 1
			AND cdSeq = #{cdSeq}	
		</update>
		
<!--         //삭제여부 수정(uelete) -->
	
		<update id="uelete">
			UPDATE pathy.code
			SET
				cdDelNy = 1
			WHERE 1 = 1
			AND cdSeq = #{cdSeq}
		</update>
		
	<!-- 데이터 삭제(delete) -->	
	<delete id="delete">
		DELETE FROM pathy.code
		WHERE 1 = 1
			AND cdSeq = #{cdSeq}
	</delete>



		<!-- for cache -->
		<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
			SELECT 
				cdSeq,
				cdName,
				codeGroup_cgSeq
			FROM
				pathy.code
			WHERE 1=1
				AND cdDelNy = 0
			    AND cdUseNy = 1
		</select>

</mapper>
