<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pathy.infra.customercontract.CustomerContractDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.pathy.infra.customercontract.CustomerContractDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from
			customerContract a
		left join 
			insProduct b
		on
			 a.insProduct_inspSeq = b.inspSeq
		left join
			customer c
		on
			a.customer_cmSeq = c.cmSeq
		where 1 = 1
		<if test="shDelNY != null and !shDelNY.equals('')">AND cmcDelNY = #{shDelNY}</if>
		<if test="shStatus != null and !shStatus.equals('')">AND cmcStatus = #{shStatus}</if>
		
		
		<choose>
			<when test="shOptionDate == 1">AND a.cmDateTimeReg BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.cmDateTimeEdit BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND cmName = #{shValue}</when>
			<when test="shOption == 2">AND inspName = #{shValue}</when>
		</choose>
	</sql>
		
	<select id="selectList" resultMap="resultMapObj">
		select aa.* from (
			select
				a.cmcSeq
				,a.cmcDelNy
				,a.cmcDateTimeReg
				,a.cmcDateTimeEdit
				,a.cmcDateTimeEnd
				,a.cmcStatus
				,a.insProduct_inspSeq
				,a.customer_cmSeq
				,b.inspSeq
				,b.inspName
				,c.cmSeq
				,c.cmName
		<include refid="selectCommon"></include>
		Order By c.cmSeq desc
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
		
	</select>
		
		
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	
	<select id = "selectOne" resultMap="resultMapObj">
		select
			a.cmcSeq
			,a.cmcDelNy
			,a.cmcDateTimeReg
			,a.cmcDateTimeEdit
			,a.cmcDateTimeEnd
			,a.cmcStatus
			,a.insProduct_inspSeq
			,a.customer_cmSeq
		from
			customerContract a
		where 1 =1
			and a.cmcSeq = #{cmcSeq}		
	</select>
	
	<insert id = "insert">
		insert into customerContract(
			cmcDelNy
			,cmcDateTimeReg
			,cmcDateTimeEdit
			,cmcDateTimeEnd
			,cmcStatus
			,insProduct_inspSeq
			,customer_cmSeq
		)values(
    		0
    		,now()
    		,now()
    		,now()
    		,#{cmcStatus}
    		,#{insProduct_inspSeq}
    		,#{customer_cmSeq}
		)
		<selectKey resultType="String" keyProperty="cmcSeq" order="AFTER">
			SELECT last_Insert_id()
		</selectKey>
	</insert>
		
		<select id="selectListCustomer" resultMap="resultMapObj">
		select
			a.cmSeq as customer_cmSeq
			,a.cmName
		from
			Customer a
		where 1=1
	</select>
		
	<select id="selectListInsProduct" resultMap="resultMapObj">
		select
			a.inspSeq as insProduct_inspSeq
			,a.inspName
		from
			insProduct a
		where 1=1
	</select>
		
	<update id="update">
		update customerContract
		set
			cmcDelNy = #{cmcDelNy}
			,cmcStatus = #{cmcStatus}
			,insProduct_inspSeq = #{insProduct_inspSeq}
			,customer_cmSeq = #{customer_cmSeq}
		where 1 = 1
			and cmcSeq = #{cmcSeq}
	</update>
		
	<delete id="delete">
		delete from customerContract
		where 1=1
			and cmcSeq = #{cmcSeq}
	</delete>
		
	<update id="uelete">
		update customerContract
		set
			cmcDelNy = 1
		where 1 = 1
			and cmcSeq = #{cmcSeq}
	</update>
	
	
	</mapper>